div{
  color: brown;
  background: whitesmoke;
  font-size: 80px;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  background: whitesmoke;
}

html, body, #root {
  height: 100%;
  background: whitesmoke;
}